body {
  display: flex;
  background-color: lightcoral;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.poketitle {
  font-size: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 10vh;
}

.pokecard {
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  padding: 10px;
  border: 2px solid black;
  justify-content: center;
  align-items: center;
  width: 25vw;
}